---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CalendarC from "../../components/Calendar";
---

<BaseLayout>
  <div class="w-screen max-w-screen-xl m-auto my-6 px-4 lg:px-0">
    <h2 class="mb-8 text-3xl">Club Calendar</h2>
    <p class="my-8">
      Note that last minute changes may not be reflected on the calendar. Check
      the Whatsapp group for updates.
    </p>
    <CalendarC client:only icalSrc="/calendar.ics" />
  </div>
</BaseLayout>
