---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import { Content as MainContent } from "../content/courses/content.md";
---

<DefaultLayout title="Courses" image="/target-3.jpg">
  <div class="prose-lg md:columns-2">
    <MainContent />
  </div>
  <h2 class="my-4 text-3xl">Beginners Courses</h2>
  <div class="mt-4 flex flex-col md:flex-row gap-4">
    <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
      <table>
        <tr>
          <td class="uppercase">Date</td>
          <td>June</td>
        </tr>
        <tr>
          <td class="uppercase">Course Details</td>
          <td>5 Weeks Beginners Course</td>
        </tr>
        <tr>
          <td class="uppercase">Location</td>
          <td>Tithe Farm Sports & Social Club</td>
        </tr>
        <tr>
          <td class="uppercase">Cost</td>
          <td>£80pp (£65.00)</td>
        </tr>
      </table>
    </div>
    <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
      <table>
        <tr>
          <td class="uppercase">Date</td>
          <td>June</td>
        </tr>
        <tr>
          <td class="uppercase">Course Details</td>
          <td>5 Weeks Beginners Course</td>
        </tr>
        <tr>
          <td class="uppercase">Location</td>
          <td>Metropolitan Bushey Sports Club</td>
        </tr>
        <tr>
          <td class="uppercase">Cost</td>
          <td>£80pp (£65.00)</td>
        </tr>
      </table>
    </div>
  </div>
</DefaultLayout>

<style>
  table {
    width: 100%;
  }
</style>
