---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section
    class="bg-center bg-cover bg-no-repeat bg-[url('/cropped-banner-1.jpg')] bg-gray-300 bg-blend-multiply"
  >
    <div class="flex flex-col py-24">
      <div class="m-auto">
        <img src="/PA Logo.png" class="w-[200px] lg:w-[300px]" />
      </div>
      <div class="px-4 mx-auto text-center">
        <h1
          class="my-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-6xl lg:text-8xl text-shadow-lg"
        >
          Welcome to Pinner Archers
        </h1>
      </div>
    </div>
  </section>

  <section class="py-[40px]">
    <div class="flex align-center max-w-screen-xl m-auto">
      <div class="m-auto hidden lg:block">
        <img src="/target-1.jpg" class="w-[600px] rounded-xl" />
      </div>
      <div class="flex-1 flex flex-col justify-center m-8">
        <h2 class="text-4xl my-2 font-bold">About the Club</h2>
        <p class="my-2 text-xl">
          Pinner Archers is based at Tithe Farm Sports & Social Club, where we
          shoot indoors on Monday evenings from 7.30pm. The indoor range allows
          20yds shooting. When the hall is not available on Mondays, the
          shooting night may be moved to Thursdays.
        </p>
        <p class="my-2 text-xl">
          Outdoor shooting takes place on Sunday afternoons 2pm to 4pm from May
          until September (& once a month from October until April 1pm to 3pm)
          at our shooting grounds at Metropolitan Bushey Sports Ground, Aldenham
          Rd, Bushey. The outdoor range allows shooting distances of up to 70m.
        </p>
        <div class="my-4">
          <a
            type="button"
            href="/about"
            class="text-white bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
          >
            Shooting at Pinner Archers
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    class="py-[40px] bg-[url('/grass.jpg')] bg-gray-400 bg-blend-multiply text-neutral-200"
  >
    <div class="flex align-center max-w-screen-xl m-auto">
      <div class="flex-1 flex flex-col justify-center m-8">
        <h2 class="text-4xl my-2 font-bold">Beginner Courses</h2>
        <p class="my-2 text-xl">
          Our beginners course is held over 5 consecutive Monday evenings
          (7.45pm to 9.45) in June at Tithe Farm Sports & Social Club.
        </p>
        <p class="my-2 text-xl">
          Depending on demand we can also offer an outdoor course on Sunday
          Afternoons (2pm to 4pm) in June at Metropolitan Bushey Sports Club.
        </p>
        <p class="my-2 text-xl">
          The course is open to Adults and Children over age of 10. Children
          must be accompanied by a responsible adult and they must be present
          throughout.
        </p>
        <div class="my-4">
          <a
            type="button"
            href="/courses"
            class="text-white bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
          >
            See Courses
          </a>
        </div>
      </div>
      <div class="m-auto hidden lg:block">
        <img src="/archers-1.jpg" class="w-[600px] rounded-xl" />
      </div>
    </div>
  </section>

  <section class="py-[40px]">
    <div class="flex align-center max-w-screen-xl m-auto">
      <div class="m-auto hidden lg:block">
        <img src="/target-2.jpg" class="w-[600px] rounded-xl" />
      </div>
      <div class="flex-1 flex flex-col justify-center m-8">
        <h2 class="text-4xl my-2 font-bold">Join Us</h2>
        <p class="my-2 text-xl">
          To join Pinner Archers archery club you need to have completed an AGB
          approved beginners course (see our
          <a href="/courses">beginner courses</a>) or have been a member of
          another archery club. Membership to Pinner Archers is subject to an
          evaluation of competence at shooting; this may be by way of
          demonstration or certification indicating completion of a recognised
          beginners course.
        </p>
        <div class="my-4">
          <a
            type="button"
            href="/join-us"
            class="text-white bg-lime-700 hover:bg-lime-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
          >
            Find out More
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
