---
import Link from "../components/Link.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import imgArchers2 from "../assets/archers-2.jpg";
---

<DefaultLayout title="Join Us" image={imgArchers2}>
  <div class="prose-lg">
    <p>
      To join Pinner Archers archery club you must have completed an AGB
      approved beginners course (see our
      <Link href="/courses">beginner courses</Link>) or have been a member of
      another archery club. If you completed a beginners course elsewhere,
      membership will be subject to an evaluation of competence at shooting;
      this may be by way of demonstration or certification indicating completion
      of a recognised beginners course.
    </p>
    <p>Our membership fees are divided in two parts.</p>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
        <h3>Pinner Archers Archery Club Membership</h3>
        <p>
          Pinner Archers Club fees run from 1st September to 31st August and
          include affiliations to AGB, SCAS & MCAA. The Fees are payable to the
          Pinner Archers Treasurer.
        </p>
        <p>
          Membership of Pinner Archers archery club is conditional on the
          applicant being a current member of the Tithe Farm Sports & Social
          Club. Once approved the applicant(s) can submit a membership form to
          Pinner Archers with the appropriate fee.
        </p>
        <strong>Pinner Archers Club Fees 2025-2026</strong>
        <table class="my-2">
          <tr>
            <td>Adults</td>
            <td>£125</td>
          </tr>
          <tr>
            <td>Juniors (under 21)</td>
            <td>£70</td>
          </tr>
          <tr>
            <td>Associate (excl. AGB)</td>
            <td>£60</td>
          </tr>
          <tr>
            <td>Joining Fee (1st Year)</td>
            <td>£15*</td>
          </tr>
        </table>
        <small>
          *Beginners completing a course and wishing to become members of Pinner
          Archers will not be required to pay the joining fee.
        </small>
      </div>
      <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
        <h3>Tithe Farm Sports & Social Club Membership</h3>
        <p>
          Application to Tithe Farm Sports & Social Club must be seconded by a
          Pinner Archers committee member and the appropriate fee to a TFSSC
          committee member or at the bar (on ground floor).
        </p>
        <strong>Tithe Farm Sports & Social Club Fees</strong>
        <table class="my-2">
          <tr>
            <td>Single</td>
            <td>£45</td>
          </tr>
          <tr>
            <td>Joint</td>
            <td>£85</td>
          </tr>
          <tr>
            <td>Junior (under 18)</td>
            <td>£35</td>
          </tr>
          <tr>
            <td>OAP</td>
            <td>£25</td>
          </tr>
        </table>
        <p>
          The fees are payable to the Tithe Farm Sports & Social Club treasurer.
        </p>
      </div>
    </div>
    <h2>Shooting Fees</h2>
    <p>
      There are no additional fees to shoot as a member of the club. Shooting
      fees are required for non-members who wish to shoot on a given day.
    </p>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
        <h3>Tithe Farm Indoor Range</h3>
        <table class="my-2">
          <tr>
            <td>Members</td>
            <td>Free</td>
          </tr>
          <tr>
            <td>Visiting Adult</td>
            <td>£3 (with proof of AGB membership)</td>
          </tr>
          <tr>
            <td>Visiting Junior</td>
            <td>£3 (with proof of AGB membership)</td>
          </tr>
        </table>
      </div>
      <div class="bg-green-50 p-4 rounded-2xl md:flex-1">
        <h3>Metropolitan Bushey Sports Club Outdoor Range</h3>
        <table class="my-2">
          <tr>
            <td>Members</td>
            <td>Free</td>
          </tr>
          <tr>
            <td>Visiting Adult</td>
            <td>£5 (with proof of AGB membership)</td>
          </tr>
          <tr>
            <td>Visiting Junior</td>
            <td>£3 (with proof of AGB membership)</td>
          </tr>
        </table>
      </div>
    </div>
    <p>
      Shooting Fees when applicable at Tithe Farm and Metropolitan Bushey Sports
      Club ranges are to be paid to Pinner Archers.
    </p>
  </div>
</DefaultLayout>

<style>
  td {
    padding: 4px 0px;
  }

  td:first-child {
    padding-right: calc(var(--spacing) * 4);
  }
</style>
