---
import NavBarMenuButton from "./NavBarMenuButton.astro";

const menuItems = [
  { title: "Home", path: "/" },
  { title: "About", path: "/about" },
  { title: "Courses", path: "/courses" },
  { title: "Contact Us", path: "/contact" },
  { title: "Join Us", path: "/join-us" },
];
---

<header>
  <div class="p-4 bg-green-900 text-white relative bottom-0">
    <div class="m-auto max-w-screen-xl flex justify-end">
      <div class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
          >
          </path>
          <path
            d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
          >
          </path>
        </svg>
        <a href="mailto:info@pinnerarchers.org">info@pinnerarchers.org</a>
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-wrap sm:justify-start sm:flex-nowrap w-full text-sm py-3 bg-green-50"
  >
    <nav
      class="max-w-screen-xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    >
      <div class="flex items-center justify-between">
        <a
          class="text-xl font-semibold focus:outline-hidden focus:opacity-80 text-nowrap"
          href="/"
          aria-label="Pinner Archers"
        >
          <span
            class="inline-flex items-center gap-x-4 text-2xl md:text-3xl font-semibold"
          >
            <img
              src="/PA Logo.png"
              class="logo w-8"
              alt="Pinner Archers Logo"
            />
            Pinner Archers
          </span>
        </a>
        <div class="sm:hidden">
          <NavBarMenuButton />
        </div>
      </div>
      <div
        id="hs-navbar-example"
        class="hidden hs-collapse overflow-hidden transition-all duration-300 grow sm:block"
        aria-labelledby="hs-navbar-example-collapse"
      >
        <div
          class="flex flex-col gap-5 mt-5 text-lg sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5 md:text-xl"
        >
          {
            menuItems.map(({ title, path }) => {
              const isActive =
                Astro.url.pathname === path ||
                Astro.url.pathname === path + "/";
              const El = isActive ? "span" : "a";
              const classlist = isActive
                ? ["text-green-700", "cursor-default"]
                : ["hover:text-green-600"];
              return (
                <El
                  class="font-medium select-none"
                  class:list={classlist}
                  href={path}
                >
                  {title}
                </El>
              );
            })
          }
        </div>
      </div>
    </nav>
  </div>
</header>
