---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pinner Archers</title>
    <meta name="description" content="Pinner Archers" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      href="https://fonts.googleapis.com/css2?family=Telex&display=swap"
      rel="stylesheet"
    />

    {
      Astro.site && (
        <>
          <meta property="og:url" content={new URL(Astro.url, Astro.site)} />
          <meta property="og:type" content="website" />
          <meta property="og:title" content="Pinner Archers" />
          <meta
            property="og:description"
            content="A target archery club in Pinner and Bushey"
          />
          <meta
            property="og:image"
            content={new URL("/favicon.png", Astro.site)}
          />
        </>
      )
    }
  </head>

  <body class="min-h-screen">
    <NavBar />
    <slot />
    <Footer />
    <script>
      import "preline/dist/preline.js";
    </script>
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
</style>
