---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="w-screen max-w-screen-xl m-auto my-6 px-4 lg:px-0 prose-lg">
    <div class="bg-white p-6 rounded-4xl">
      <slot />
    </div>
  </div>
</BaseLayout>
