---
import DefaultLayout from "./DefaultLayout.astro";

const { title, image, columns } = Astro.props.frontmatter || {};
---

<DefaultLayout title={title} image={image}>
  <div
    class="prose-lg md:columns-[var(--columns)]"
    style={`--columns: ${columns || 2};`}
  >
    <slot />
  </div>
</DefaultLayout>

<style is:global>
  .prose-lg p:first-child {
    margin-top: 0;
  }

  .prose-lg p:last-child {
    margin-bottom: 0;
  }
</style>
