---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import type { ImageMetadata } from "astro";
import imgArchers1 from "../assets/archers-1.jpg";

interface Props {
  title?: string;
  noImage?: boolean;
  image?: ImageMetadata;
}

const { title, image } = Astro.props;
---

<BaseLayout>
  <div>
    {
      !Astro.props.noImage && (
        <Image
          src={image ?? imgArchers1}
          alt=""
          class="w-full min-h-[300px] max-h-[500px] object-cover object-center"
        />
      )
    }
    <div class="w-screen max-w-screen-xl m-auto my-6 px-4 lg:px-0">
      {
        title && (
          <div class="py-8">
            <h1 class="text-5xl">{title}</h1>
          </div>
        )
      }
      <slot />
    </div>
  </div>
</BaseLayout>
