name: CI

on:
  workflow_dispatch:
  push:

permissions:
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - env:
          ASTRO_SITE: "https://staging.pinnerarchers.org"
        run: |
          npm install
          npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: website
          path: dist

  deploy:
    runs-on: ubuntu-latest
    environment: staging
    needs:
      - build
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: website
          path: dist

      - name: ssh deploy
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SOURCE: "./dist/"
          TARGET: ${{ secrets.REMOTE_TARGET }}/www/stg
          SCRIPT_BEFORE: |
            rm -rf ${{ secrets.REMOTE_TARGET }}/www/stg
          SCRIPT_AFTER: |
            cd ${{ secrets.REMOTE_TARGET }}
            docker compose restart
          SCRIPT_AFTER_REQUIRED: true
